<!--Cancel solicitud by user-->
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Agregar evidencias de entrega</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="{% url 'fletes:agregar-evidencia-destino' object.id %}" method="POST">
            {% csrf_token %}
            <div class="modal-body">
                <p>Agrega tus evidencias de entrega</p>
                {{form.as_p}}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Salir</button>
              <button type="submit" class="btn btn-info">Agregar</button>
            </div>
        </form>
    </div>
</div>