<!--Cancel solicitud by user-->
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Cancelar solicitud</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="{% url 'fletes:cancelar-solicitud' object.slug %}" method="POST">
            {% csrf_token %}
            <div class="modal-body">
                <p>Si cancelas esta solicitud, sumara puntos negativos a tu historial!</p>
                <p>Si desea continuar, ingrese el motivo de su cancelación y de click en "Cancelar"</p>
                {{form.as_p}}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
              <button type="submit" class="btn btn-danger">Cancelar</button>
            </div>
        </form>
    </div>
</div>