<!--Delete button will redirect to the href of the element with 'id = caller-id' property in this modal-->
<div class="modal fade" id="confirmCancelModal" tabindex="-1" caller-id="" role="dialog" aria-labelledby="confirmCancelModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body confirm-delete">
          Estas seguro que deseas cancelar, esto sumara puntos negativos a tu historial!
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
          <button type="button" class="btn btn-danger"  id="confirmDeleteButtonModal">Cancelar</button>
        </div>
      </div>
    </div>
    <script>
        $(document).on('click', '.confirm-cancel', function () {
            $("#confirmCancelModal").attr("caller-id", $(this).attr("id"));
        });

        $(document).on('click', '#confirmDeleteButtonModal', function () {
            var caller = $("#confirmDeleteButtonModal").closest(".modal").attr("caller-id");
            window.location = $("#".concat(caller)).attr("href");
        });
    </script>
</div>