<!--Cancel solicitud by user-->
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Actualizar solicitud</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="{% url 'fletes:editar-solicitud-hora' object.slug %}" method="POST">
            {% csrf_token %}
            <div class="modal-body">
                <ps>Ingrese la nueva hora de servicio</ps>
                {{form.as_p}}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Salir</button>
              <button type="submit" class="btn btn-primary">Continuar</button>
            </div>
        </form>
    </div>
</div>