{% load crispy_forms_tags %}

<!--Cancel solicitud by user-->
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Editar destino</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="{% url 'fletes:editar-destino' object.id %}" method="POST">
            {% csrf_token %}
            <div class="modal-body">
                <div class="row justify-content-center align-items-center">
                    <div class="form-group col-md-7 mb-1">
                        {{ form.tiempo_descarga|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-7 mb-1">
                        {{ form.unidades_entregar|as_crispy_field }}
                    </div>
                </div>
                <div class="form-group col-md-12 mb-1">
                    {{ form.domicilio_id|as_crispy_field }}
                </div> 
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
              <button type="submit" class="btn btn-danger">Aceptar</button>
            </div>
        </form>
    </div>
</div>