<header class="site-header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="{% url 'home' %}">Flete Seguro</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
              <li class="nav-item">
                <a class="nav-item nav-link" href="{% url 'home' %}">Inicio</a>
              </li>
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-item nav-link" href="{% url 'profile-cliente' pk=user.id %}">Perfil</a>
              </li>
              <li class="nav-item">
                <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-item nav-link" href="{% url 'login' %}">Ingresar</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Registrarse
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                  <li><a class="dropdown-item" href="{% url 'registro-cliente' %}">Cliente</a></li>
                  <li><a class="dropdown-item" href="{% url 'registro-transportista' %}">Transportista</a></li>
                </ul>
                {% endif %}
              </li>
            </ul>
          </div>
        </div>      
    </nav>
  </header>