{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <section style="background-color: #eee;">
        <div class="container py-5 mt-4">
            <div class="row">
                <div class="col">
                    <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item active" aria-current="page">Cotización</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col-12 justify-content-center">
                    <div class="row">
                        <div class="col-lg-8 col-md-12 justify-content-center">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <div class="row">
                                        <legend class="border-bottom mb-4">Información de solicitud</legend>
                                        <div class="row justify-content-center align-items-center">
                                            <div class="col-md-6 mb-1">
                                                FOLIO: {{solicitud.folio}}<br>
                                                CP ORIGEN: {{solicitud.domicilio_id.cp}}
                                            </div>
                                            <div class="col-md-6 mb-1">
                                                FECHA DEL SERVICO: {{solicitud.fecha_servicio|date:"d-m-Y"}}<br>
                                                HORA DEL SERVICO: {{solicitud.hora}}
                                            </div>
                                        </div>
                                        <p class="h5 mt-5">Caracteristicas de carga</p>
                                        <div class="col-md-12 mb-1">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                    <th scope="col">Tipo de carga</th>
                                                    <th scope="col">Peso</th>
                                                    <th scope="col">Volumen</th>
                                                    <th scope="col">Unidades totales</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                    <td>{{solicitud.caracteristicas_carga}}</td>
                                                    <td>{{solicitud.peso_carga}} kg</td>
                                                    <td>{{solicitud.volumen_carga}} mt3</td>
                                                    <td>{{solicitud.unidades_totales}} unidades</td>
                                                    </tr>
                                                </tbody>
                                                </table>
                                        </div>
                                        <p class="h5 mt-3">Información general</p>
                                        <div class="card" style="width: 18rem;">
                                            <ul class="list-group list-group-flush">
                                              <li class="list-group-item">Tiempo de espera: {{ solicitud.tiempo_carga }} min</li>
                                              <li class="list-group-item">Descripción: {{ solicitud.descripcion_servicio }}</li>
                                            </ul>
                                        </div>
                                        <div class="row justify-content-between mt-4">
                                            <div class="col-auto">
                                                <a href="{% url 'fletes:solicitudes' %}"><button type="button" class="btn btn-danger mt-4"> Cancelar </button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 justify-content-center">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <fieldset class="form-group">
                                        <legend class="border-bottom mt-2">Ruta del viaje</legend>
                                    </fieldset>
                                    {% if destinos %}
                                    <table class="table table-sm">
                                        <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">CP</th>
                                            <th scope="col">Tiempo descarga</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            {% for destino in destinos %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{ destino.domicilio_id.cp }} </td>
                                                <td>{{ destino.tiempo_descarga }} min </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    {% else %}  
                                    <p>Esta solicitud no cuenta con destinos</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="card mt-5">
                            <div class="card-body">
                                <div class="row">
                                    <fieldset class="form-group">
                                        <legend class="border-bottom mb-4">Costo del servicio</legend>
                                    </fieldset>
                                    <form method="post">
                                        {% csrf_token %}
                                            {{ form|crispy}}
                                            <div class="form-group mt-4">
                                                <button class="btn btn-outline-info" type="submit" >Cotizar</button>
                                            </div> 
                                    </form>
                                    <p class="h6 mt-3">*Precios más IVA</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}