{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    {% include 'usuarios/confirm_delete_modal.html' %}
    
    <section style="background-color: #eee;">
        <div class="container py-5 mt-4r">
            <div class="row justify-content-center">
                <div class="col">
                    <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item active" aria-current="page">Nueva solicitud</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col-12 justify-content-center">
                    <nav>
                        <div class="nav nav-pills nav-fill mt-3 mb-5" id="nav-tab" role="tablist">
                          <a class="nav-link active" id="step1-tab" data-bs-toggle="tab" >Paso 1</a>
                          <a class="nav-link disabled" id="step2-tab" data-bs-toggle="tab" href="#step2">Paso 2</a>
                          <a class="nav-link disabled" id="step3-tab" data-bs-toggle="tab" href="#step3">Paso 3</a>
                        </div>
                    </nav>
                    <div class="row">
                        <div class="col-lg-4 col-md-12 justify-content-center">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <div class="row">
                                        <fieldset class="form-group">
                                            <legend class="border-bottom mb-4">Mis domicilios</legend>
                                        </fieldset>
                                        {% if domicilios %}
                                        <table class="table table-sm">
                                            <thead>
                                            <tr>
                                                <th scope="col">Nombre</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                {% for domicilio in domicilios %}
                                                <tr>
                                                    <td>{{ domicilio.nombre }}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        {% if lenDom <= 1 %}  
                                            <p>Añade dos o más domicilios para generar tus solicitudes, dado que se requiere de origen-destino para generar una ruta.</p>
                                        {% endif %}
                                        {% else %}
                                            {% if lenDom <= 1 %}  
                                                <p>Añade dos o más domicilios para generar tus solicitudes, dado que se requiere de origen-destino para generar una ruta.</p>
                                            {% endif %}
                                        {% endif %}
                                        <a href="{% url 'fletes:domicilios' %}"><button type="button" class="btn btn-primary mt-4"> Gestionar domicilios </button></a>
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-12 justify-content-center">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <div class="row">
                                        <form method="post" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <fieldset class="form-group">
                                                <legend class="border-bottom mb-4">Información de la solicitud</legend>
                                            </fieldset>
                                            <div class="row justify-content-center align-items-center">
                                                <div class="form-group col-md-7 mb-1">
                                                    {{ form.fecha_servicio|as_crispy_field }}
                                                </div>
                                                <div class="form-group col-md-7 mb-1">
                                                    {{ form.hora|as_crispy_field }}
                                                </div>
                                            </div>
                                            <div class="row justify-content-center align-items-center">
                                                <div class="form-group col-md-4 mb-1 mt-2 text-center">
                                                    {{ form.tiempo_carga|as_crispy_field }}
                                                </div>
                                            </div>
                                            <p class="h5 mt-4">Domicilio de recolección</p>
                                                <div class="form-group col-md-12 mb-1">
                                                    {{ form.domicilio_id|as_crispy_field }}
                                                </div>                                            
                                            <p class="h5 mt-4">Características de la carga</p>
                                            <div class="row justify-content-center align-items-center">
                                                <div class="form-group col-md-12 mb-1">
                                                    {{ form.caracteristicas_carga|as_crispy_field }}
                                                </div>
                                            </div>
                                            <div class="row justify-content-center align-items-center">
                                                <div class="form-group col-md-4 mb-1">
                                                    {{ form.peso_carga|as_crispy_field }}
                                                </div>
                                                <div class="form-group col-md-4 mb-1">
                                                    {{ form.volumen_carga|as_crispy_field }}
                                                </div>
                                                <div class="form-group col-md-4 mb-1">
                                                    {{ form.unidades_totales|as_crispy_field }}
                                                </div>
                                            </div>
                                            <div class="row justify-content-center align-items-center">
                                                <div class="form-group col-md-12 mb-1">
                                                    {{ form.descripcion_servicio|as_crispy_field }}
                                                </div>
                                            </div>
                                            <div class="row justify-content-center align-items-center">
                                                <div class="form-group col-md-12 mb-1">
                                                    {{ form.material_peligroso|as_crispy_field }}
                                                </div>
                                            </div>
                                            {% if form.errors %}
                                                {% for field in form %}
                                                    {% for error in field.errors %} 
                                                        <div class="alert alert-danger">
                                                            <strong>Error "{{ error|escape }}" en el campo {{field.name}} </strong>
                                                        </div>
                                                    {% endfor %}
                                                {% endfor %}
                                            {% endif %}
                                            <div class="row justify-content-between mt-4">
                                                <div class="col-auto">
                                                <button type="submit" class="btn btn-primary">Siguiente</button>
                                                </div>
                                            </div>
                                        </form>
                                        <div class="col-auto mt-2"><a href="{{request.META.HTTP_REFERER}}"><button class="btn btn-danger">Cancelar</button></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}