{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <section style="background-color: #eee;">
        <div class="container py-5 mt-4">
            {% if titulo == 'Editar domicilio' %}
                <div class="row">
                    <div class="col-5">
                        <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item active" aria-current="page">{{titulo}}</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-3">
                        {% if domicilio.is_valid %}
                            <div class="p-3 mb-4 bg-success text-white text-center">Dirección correcta&nbsp;&nbsp;&nbsp;<i class="fas fa-check-circle"></i></div>
                        {% else %}
                            <div class="p-3 mb-4 bg-danger text-white text-center">Dirección incorrecta&nbsp;&nbsp;&nbsp;<i class="fas fa-times-circle"></i></div>
                        {% endif%}
                    </div>
                    <div class="col-3"></div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="list-group mb-4">
                            <div class="list-group-item list-group-item-action d-flex gap-3 py-3">
                                <i class="fas fa-directions"></i>
                                <div class="d-flex gap-2 w-100 justify-content-between">
                                    <div>
                                    <h6 class="mb-0">Dirección completa para generar viaje</h6>
                                    {% if domicilio.is_valid %}
                                        <p class="mb-0 opacity-75">{{ domicilio.google_format }}</p>
                                    {% else %}
                                        <p class="mb-0 opacity-75">Algunos datos de la dirección proporcionada no son correctos, favor de verificar la información.</p>
                                    {% endif%}
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    
            {% else %}
            <div class="row">
                <div class="col-8">
                    <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item active" aria-current="page">{{titulo}}</li>
                        </ol>
                    </nav>
                </div>
            </div>
            {% endif %}
            <div class="row">
                <div class="col-lg-8 justify-content-center">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <form method="post">
                                    {% csrf_token %}
                                    <fieldset class="form-group">
                                        <legend class="border-bottom mb-4">Datos del domicilio</legend>
                                        {{ form|crispy}}
                                        <div class="form-group mt-4">
                                            <button class="btn btn-outline-info" type="submit" >Aceptar</button>
                                        </div> 
                                    </fieldset>
                                </form>
                                <a href="{% url 'fletes:domicilios' %}"><button class="btn btn-outline-danger mt-3">Cancelar</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}