{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

{% include 'usuarios/confirm_delete_modal.html' %}
{% include 'fletes/confirmations/confirm_confirmar_modal.html' %}

    <section style="background-color: #eee;">
        <div class="container py-5 mt-4r">
            <div class="row justify-content-center">
                <div class="col">
                    <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item active" aria-current="page">Mis cotizaciones</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col-12 justify-content-center">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="table-responsive">
                                {% if cotizaciones %}
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Folio</th>
                                            <th>Folio solicitud</th>
                                            <th>Fecha servicio</th>
                                            <th>Hora</th>
                                            <th>Precio</th>
                                            <th>Estado</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for cotizacion in cotizaciones%}
                                        <tr>
                                            <td>{{cotizacion.folio}}</td>
                                            <td>{{cotizacion.solicitud_id.folio}}</td>
                                            <td>{{cotizacion.solicitud_id.fecha_servicio|date:"d-m-Y"}}</td>
                                            <td>{{cotizacion.solicitud_id.hora}}</td>
                                            <td>{{cotizacion.monto|floatformat:2 }} mxm</td>
                                            {% if cotizacion.estado_cotizacion == 'Rechazada' %}
                                                {% if cotizacion.solicitud_id.estado_solicitud == 'Asignada' %}
                                                    <td>{{cotizacion.estado_cotizacion}}</td>
                                                {% else %}
                                                    <td>Pendiente</td>
                                                {% endif %}
                                            {% else %}
                                                <td>{{cotizacion.estado_cotizacion}}</td>
                                            {% endif %}
                                            <td><a href="{% url 'fletes:detalle-cotizacion' cotizacion.slug %}"><i class="far fa-eye"></i></a></td>
                                            {% if cotizacion.estado_cotizacion == 'Aceptada' %}
                                                <td><a href="{% url 'fletes:confirmar-cotizacion' cotizacion.slug %}" class="confirm-confirmar" title="Confirmar" data-bs-toggle="modal" data-bs-target="#confirmConfirmarModal" id="aceptarButton{{cotizacion.slug}}"><button class="btn btn-primary btn-sm">Confirmar</button></a></td>
                                                <td><button onclick="abrir_modal_confirm_cancel('{% url 'fletes:cancelar-cotizacion' cotizacion.slug %}')" class="btn btn-danger btn-sm">Cancelar</button></td>
                                            {% else %}
                                                {% if cotizacion.estado_cotizacion == 'Confirmada' %}
                                                <td><button onclick="abrir_modal_confirm_cancel('{% url 'fletes:cancelar-cotizacion' cotizacion.slug %}')" class="btn btn-danger btn-sm">Cancelar</button></td>
                                                {% else %}
                                                <td>
                                                    <a href="{% url 'fletes:delete-cotizacion' cotizacion.slug %}" class="confirm-delete" title="Delete" data-bs-toggle="modal" 
                                                    data-bs-target="#confirmDeleteModal" id="deleteButton{{cotizacion.slug}}" title="Eliminar solicitud"><i class="far fa-trash-alt"></i></a>
                                                </td> 
                                                {% endif %}
                                            {% endif %}
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                {% else %}
                                <h2>No tienes cotizaciones registradas</h2>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade" id="ConfirmCancel" role="dialog">
    </div>
{% endblock content %}

{% block extrajs %}
    <script type="text/javascript">
        var $ = jQuery.noConflict();
        function abrir_modal_confirm_cancel(url){
            $('#ConfirmCancel').load(url,function(){
                $(this).modal('show');
            });
        }
    </script>
{% endblock extrajs %}