{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    {% include 'usuarios/confirm_delete_modal.html' %}
    
    <section style="background-color: #eee;">
        <div class="container py-5 mt-4r">
            <div class="row justify-content-center">
                <div class="col">
                    <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item active" aria-current="page">Pago confirmado</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col-12 justify-content-center">
                    <div class="col-lg-8 offset-lg-2">
                        <h1>PAGO CONFIRMADOs</h1>
                        <p>{{ data }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}