{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    {% include 'usuarios/confirm_delete_modal.html' %}
    
    <section style="background-color: #eee;">
        <div class="container py-5 mt-4r">
            <div class="row justify-content-center">
                <div class="col">
                    <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item active" aria-current="page">Información de Pago</li>
                        </ol>
                    </nav>
                </div>
            </div>
                <div class="row g-5">
                    <div class="col-md-5 col-lg-4 order-md-last">
                      <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-primary">Tu pedido</span>
                        <span class="badge bg-primary rounded-pill"></span>
                      </h4>
                      <ul class="list-group mb-3">
                        <li class="list-group-item d-flex justify-content-between lh-sm">
                          <div>
                            <h6 class="my-0">Viaje</h6>
                            <small class="text-muted">{{cotizacion.solicitud_id.folio}}</small>
                          </div>
                          <span class="text-muted">${{cotizacion.monto}} mxn</span>
                        </li>
                        {% if cotizacion.es_asegurada %}
                        <li class="list-group-item d-flex justify-content-between lh-sm">
                          <div>
                            <h6 class="my-0">Seguro</h6>
                            <small class="text-muted">{{ cotizacion.nivel_seguro }}</small>
                          </div>
                          <span class="text-muted">$5</span>
                        </li>
                        {% endif %}
                        <li class="list-group-item d-flex justify-content-between">
                          <span>Total (USD)</span>
                          <strong>$20</strong>
                        </li>
                      </ul>
              
                    </div>
                    <div class="col-md-7 col-lg-8">
                        <div class="card">
                            <div class="card-body">
                              <h5 class="card-title">Folio de cotización: {{cotizacion.folio}}</h5>
                              <p class="card-text">Fecha del servicio: {{cotizacion.solicitud_id.fecha_servicio|date:"d-m-Y"}}</p>
                              <h5 class="card-text mt-4">Salida:</h5>
                              <p class="card-text">De C.P.: {{cotizacion.solicitud_id.domicilio_id.cp}}</p>
                              <h5 class="card-text mt-4">Ruta:</h5>
                            </div>
                            <ul class="list-group list-group-flush">
                                {% if destinos %}
                                    {% for destino in destinos %}
                                        <li class="list-group-item">Destino {{ forloop.counter }}: C.P.{{ destino.domicilio_id.cp }} con entrega de {{ destino.unidades_entregar}} unidades </li>
                                    {% endfor %}
                                {% else %}
                                    <li class="list-group-item">No hay destinos</li>
                                {% endif %}
                            </ul>
                            <div class="card-body mt-3">
                                <h5 class="card-text mt-4">Descripción del servicio:</h5>
                                <p class="card-text">{{cotizacion.solicitud_id.descripcion_servicio}}</p>
                            </div>
                            <div class="card-body mt-3">
                                <p class="h5">Caracteristicas de carga</p>
                            </div>
                            
                            <div class="col-md-12 mb-1">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Tipo de carga</th>
                                            <th scope="col">Peso</th>
                                            <th scope="col">Volumen</th>
                                            <th scope="col">Unidades totales</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                        <td>{{cotizacion.solicitud_id.caracteristicas_carga}}</td>
                                        <td>{{cotizacion.solicitud_id.peso_carga}} kg</td>
                                        <td>{{cotizacion.solicitud_id.volumen_carga}} mt3</td>
                                        <td>{{cotizacion.solicitud_id.unidades_totales}} unidades</td>
                                        </tr>
                                    </tbody>
                                    </table>
                            </div>
                    </div>
                          
                        <!--
                            Segunda dirección(opcional)
                            <div class="col-12">
                                <label for="address2" class="form-label">Address 2 <span class="text-muted">(Optional)</span></label>
                                <input type="text" class="form-control" id="address2" placeholder="Apartment or suite">
                            </div>
                        
              
                        <hr class="my-4">
              
                        <div class="form-check">
                          <input type="checkbox" class="form-check-input" id="same-address">
                          <label class="form-check-label" for="same-address">Shipping address is the same as my billing address</label>
                        </div>
              
                        <div class="form-check">
                          <input type="checkbox" class="form-check-input" id="save-info">
                          <label class="form-check-label" for="save-info">Save this information for next time</label>
                        </div>
              
                        <hr class="my-4">
                        -->
                        <!--
                        Opciones de pago(tarjeta de credito)
                        <h4 class="mb-3">Payment</h4>
              
                        <div class="my-3">
                          <div class="form-check">
                            <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked="" required="">
                            <label class="form-check-label" for="credit">Credit card</label>
                          </div>
                          <div class="form-check">
                            <input id="debit" name="paymentMethod" type="radio" class="form-check-input" required="">
                            <label class="form-check-label" for="debit">Debit card</label>
                          </div>
                          <div class="form-check">
                            <input id="paypal" name="paymentMethod" type="radio" class="form-check-input" required="">
                            <label class="form-check-label" for="paypal">PayPal</label>
                          </div>
                        </div>
              
                        <div class="row gy-3">
                          <div class="col-md-6">
                            <label for="cc-name" class="form-label">Name on card</label>
                            <input type="text" class="form-control" id="cc-name" placeholder="" required="">
                            <small class="text-muted">Full name as displayed on card</small>
                            <div class="invalid-feedback">
                              Name on card is required
                            </div>
                          </div>
              
                          <div class="col-md-6">
                            <label for="cc-number" class="form-label">Credit card number</label>
                            <input type="text" class="form-control" id="cc-number" placeholder="" required="">
                            <div class="invalid-feedback">
                              Credit card number is required
                            </div>
                          </div>
              
                          <div class="col-md-3">
                            <label for="cc-expiration" class="form-label">Expiration</label>
                            <input type="text" class="form-control" id="cc-expiration" placeholder="" required="">
                            <div class="invalid-feedback">
                              Expiration date required
                            </div>
                          </div>
              
                          <div class="col-md-3">
                            <label for="cc-cvv" class="form-label">CVV</label>
                            <input type="text" class="form-control" id="cc-cvv" placeholder="" required="">
                            <div class="invalid-feedback">
                              Security code required
                            </div>
                          </div>
                        </div>
                        -->
                        
                        <button class="w-50 btn btn-primary btn-lg mt-5" type="submit">Continue to checkout</button>
                      </form>
                    </div>
                </div>
            </div>
    </section>
{% endblock content %}