{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    {% include 'usuarios/confirm_delete_modal.html' %}
    
    <section style="background-color: #eee;">
        <div class="container py-5 mt-4r">
            <div class="row justify-content-center">
                <div class="col">
                    <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item active" aria-current="page">Información de solicitud</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col-12 justify-content-center">
                        <div class="col-lg-6 offset-lg-3">
                            <div class="card">
                                <div class="card-body">
                                  <h5 class="card-title">Folio: {{solicitud.folio}}</h5>
                                  <p class="card-text">Fecha del servicio {{solicitud.fecha_servicio|date:"d-m-Y"}}</p>
                                  <h5 class="card-text mt-4">Salida:</h5>
                                  <p class="card-text">De {{solicitud.domicilio_id}}</p>
                                  <h5 class="card-text mt-4">Ruta:</h5>
                                </div>
                                <ul class="list-group list-group-flush">
                                    {% if destinos %}
                                        {% for destino in destinos %}
                                            <li class="list-group-item">{{ destino.domicilio_id }}</li>
                                        {% endfor %}
                                    {% else %}
                                        <li class="list-group-item">No hay destinos</li>
                                    {% endif %}
                                </ul>
                                <div class="card-body justify-content-between">
                                  <a href="{% url 'fletes:solicitudes-cliente' %}"><button type="button" class="btn btn-primary mt-4"> Regresar </button></a>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}