{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

{% include 'usuarios/confirm_delete_modal.html' %}
<section style="background-color: #eee;">
    <div class="container py-5 mt-4r">
        {% if user.is_transportista %}
        <div class="row justify-content-center">
            <div class="col">
                <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item active" aria-current="page">Tus viajes</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-12 justify-content-center">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            {% if viajes %}
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Folio</th>
                                            <th>Fecha</th>
                                            <th>Hora</th>
                                            <th>Estado</th>
                                            <th>Cliente</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for viaje in viajes%}
                                            {# Get all viajes of curent user #}
                                            {% if viaje.cotizacion_id.transportista_id == user.transportista %}
                                            <tr>
                                                <td><a href="{% url 'fletes:detalle-viaje' viaje.slug %}">{{viaje.folio}}</a></td>
                                                <td>{{viaje.cotizacion_id.solicitud_id.fecha_servicio|date:"d-m-Y"}}</td>
                                                <td>{{viaje.cotizacion_id.solicitud_id.hora}}</td>
                                                <td>{{viaje.estado_viaje}}</td>
                                                <td>{{viaje.cotizacion_id.solicitud_id.cliente_id}}</td>
                                            </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% else %}
                            <h2>No tienes viajes registradas</h2>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="row justify-content-center">
            <div class="col">
                <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item active" aria-current="page">Mis viajes</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-12 justify-content-center">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            
                            {% if viajes %}
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Folio</th>
                                            <th>NIP</th>
                                            <th>Estado</th>
                                            <th>Usuario</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for viaje in viajes%}
                                            {# Get all viajes of curent user #}
                                            {% if viaje.getClienteId == user.cliente %}
                                            <tr>
                                                <td>{{viaje.folio}}</td>
                                                <td>{{viaje.nip}}</td>
                                                <td>{{viaje.estado_viaje}}</td>
                                                <td>{{viaje.getClienteId}} {{user.cliente}}</td>
                                            </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% else %}
                            <h2>No tienes viajes registradas</h2>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</section>
<div class="modal fade" id="ConfirmCancel" role="dialog">
</div>

{% endblock content %}
{% block extrajs %}
    <script type="text/javascript">
        var $ = jQuery.noConflict();
        function abrir_modal_confirm_cancel(url){
            $('#ConfirmCancel').load(url,function(){
                $(this).modal('show');
            });
        }
    </script>
{% endblock extrajs %}