{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

{% include 'usuarios/confirm_delete_modal.html' %}
<section style="background-color: #eee;">
    <div class="container py-5 mt-4r">
        {% if user.is_transportista %}
        <div class="row justify-content-center">
            <div class="col">
                <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item active" aria-current="page">Tus viajes</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-12 justify-content-center">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            {% if viajes %}
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Folio</th>
                                            <th>Fecha</th>
                                            <th>Hora</th>
                                            <th>Estado</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for viaje in viajes%}
                                            {# Get all viajes of curent user #}
                                            {% if viaje.orden_id.cotizacion_id.transportista_id == user.transportista %}
                                            <tr>
                                                <td><a href="{% url 'fletes:detalle-viaje' viaje.slug %}">{{viaje.folio}}</a></td>
                                                <td>{{viaje.orden_id.cotizacion_id.solicitud_id.fecha_servicio|date:"d-m-Y"}}</td>
                                                <td>{{viaje.orden_id.cotizacion_id.solicitud_id.hora}}</td>
                                                <td>{{viaje.estado_viaje}}</td>
                                            </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% else %}
                            <h2>No tienes viajes registradas</h2>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% else %}
        <div class="row justify-content-center">
            <div class="col">
                <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item active" aria-current="page">Mis viajes</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-12 justify-content-center">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row text-center">
                            
                            {% if viajes %}
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Folio</th>
                                            <th>Fecha</th>
                                            <th>Hora</th>
                                            <th>Estado</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for viaje in viajes%}
                                            {# Get all viajes of curent user #}
                                            {% if viaje.getClienteId == user.cliente %}
                                            <tr>
                                                <td> <a href="{% url 'fletes:data-seguridad-viaje' slug=viaje.slug %}" class="confirm-delete" title="Detalle de viaje">{{viaje.folio}}</a></td>
                                                <td>{{viaje.orden_id.cotizacion_id.solicitud_id.fecha_servicio|date:"d-m-Y"}}</td>
                                                <td>{{viaje.orden_id.cotizacion_id.solicitud_id.hora}}</td>
                                                <td>{{viaje.estado_viaje}}</td>
                                                <td>
                                                    {% if viaje.estado_viaje == 'Cerrado' %}
                                                        <a href="{% url 'fletes:evidencias-viaje' viaje.slug %}"><button class="btn btn-warning btn-sm" type="button">Ver mis evidencias</button></a>
                                                    {% else %}
                                                        <button class="btn btn-warning btn-sm" type="button" disabled>Ver mis evidencias</button>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% else %}
                            <h2>No tienes viajes registradas</h2>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-2">
            <div class="col">
                <nav >
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item active" aria-current="page">Nota: Una vez que el viaje este finalizado, pódras descargar tus evidencias de entrega.</li>
                    </ol>
                </nav>
            </div>
        </div>
        {% endif %}
    </div>
</section>
<div class="modal fade" id="ConfirmCancel" role="dialog">
</div>
<div class="modal fade" id="llegadaModal" role="dialog">
</div>
{% endblock content %}
{% block extrajs %}
    <script type="text/javascript">
        var $ = jQuery.noConflict();
        function abrir_modal_confirm_cancel(url){
            $('#ConfirmCancel').load(url,function(){
                $(this).modal('show');
            });
        }
    </script>
    <script type="text/javascript">
        var $ = jQuery.noConflict();
        function abrir_modal_registrar_llegada(url){
            $('#llegadaModal').load(url,function(){
                $(this).modal('show');
            });
        }
    </script>
{% endblock extrajs %}

