{% extends 'base.html' %}

{% block content %}
  <div class="container mt-3">
  {% if user.is_authenticated %}
    <main>
      <div  class="container mb-2 mt-2">
        <h2>Bienvenido {{user.username}}</h2>
      </div>
      {% if user.is_cliente%}
      <div class="container px-4 py-5" id="featured-3">
        <h2 class="pb-2 border-bottom">Menú de clientes</h2>
        {% if not user.has_datosfiscales or not user.cliente.has_info %}
          <p class="mt-3">Perfil y/o datos fiscales no completados, porfavor actualizelos para poder crear solicitudes.</p>
        {% endif %}
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
          <div class="feature col">
            <div class="feature-icon bg-primary bg-gradient">
              <i class="fas fa-plus-square"></i>
            </div>
            <h2>Crear solicitud</h2>
            <p>Realiza una solicitud de flete para recibir cotizaciones por parte de los transportistas.</p>
            <a href="{% url 'agregar-solicitud'  %}" class="icon-link">
              Ir
              <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
            </a>
          </div>
          <div class="feature col">
            <div class="feature-icon bg-primary bg-gradient">
              <i class="fas fa-eye"></i>
            </div>
            <h2>Mis solicitudes</h2>
            <p>Gestiona y revisa el estado de tus solicitudes realizadas.</p>
            <a href="{% url 'solicitudes-cliente'%}" class="icon-link">
              Ir
              <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
            </a>
          </div>
          
          <div class="feature col">
            <div class="feature-icon bg-primary bg-gradient">
              <i class="fas fa-eye"></i>
            </div>
            <h2>Mis domicilios</h2>
            <p>Gestiona y revisa tus domicilios.</p>
            <a href="{% url 'domicilios'%}" class="icon-link">
              Ir
              <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
            </a>
          </div>
        </div>
      </div>
      {% else %}
      <div class="container px-4 py-5" id="featured-3">
        <h2 class="pb-2 border-bottom">Menú de transportistas</h2>
        {% if not user.has_datosfiscales or not user.transportista.has_info %}
          <p class="mt-4">Perfil y/o datos fiscales no completados, porfavor actualizelos para poder crear cotizaciones.</p>
        {% endif %}
        {% if not user.transportista.has_unidades %}
        <p class="mt-4">No tienes unidades registradas no puedes realizar cotizaciones. Agregalas desde tu perfil!!</p>
        {% endif %}
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
          <div class="feature col">
            <div class="feature-icon bg-primary bg-gradient">
              <i class="fas fa-plus-square"></i>
            </div>
            <h2>Solicitudes vigentes</h2>
            <p>Revisa las solicitudes de viaje vigentes.</p>
            <a href="{% url 'solicitudes' %}" class="icon-link">
              Ir
              <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
            </a>
          </div>
          <div class="feature col">
            <div class="feature-icon bg-primary bg-gradient">
              <i class="fas fa-eye"></i>
            </div>
            <h2>Mis cotizaciones</h2>
            <p>Gestiona tus cotizaciones realizadas.</p>
            <a href="{% url 'cotizaciones'%}" class="icon-link">
              Ir
              <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
            </a>
          </div>
        </div>
      </div>
      {% endif %}
    </main>
  </div>
  {% else %}
  <h2>Bienvenido a Flete Seguro! <span class="icon-emo-happy"></span></h2>
  <p class="lead">
    Si ya tienes cuenta, continua e <a href="{% url 'login' %}">inicia sesión</a>. Si eres nuevo usuario, puedes registarte ahora.
  </p>
  <hr>
  <h3>Nosotros</h3>
  <p>
    SOLUCIONES DIGITALES PARA LA ENTREGA DE ULTIMA MILLA.
  </p>
  <p class="mb-0">Endicom<br><a href="#">@endicom</a></p>
  {% endif %}
{% endblock %}