{% extends 'base.html' %}

{% block content %}
  <div class="container mt-3">
  {% if user.is_authenticated %}
    <h2>Bienvenido {{user.username}}</h2>
  </div>
  {% else %}
  <h2>Bienvenido a Flete Seguro! <span class="icon-emo-happy"></span></h2>
  <p class="lead">
    Si ya tienes cuenta, continua e <a href="{% url 'login' %}">inicia sesión</a>. Si eres nuevo usuario, puedes registarte ahora.
  </p>
  <hr>
  <h3>Nosotros</h3>
  <p>
    SOLUCIONES DIGITALES PARA LA ENTREGA DE ULTIMA MILLA.
  </p>
  <p class="mb-0">Endicom<br><a href="#">@endicom</a></p>
  {% endif %}
{% endblock %}