{% extends 'base.html' %}
{% block content %}
  <div class="container mt-3">
  {% if user.is_authenticated %}
    <main>
      <div  class="container mb-2 mt-2">
        <h2>Bienvenido {{user.username}}</h2>
      </div>
      {% if user.is_cliente%}
      <div class="container px-4 py-5" id="featured-3">
        <h2 class="pb-2 border-bottom">Menú de clientes</h2>
        {% if not user.has_datosfiscales or not user.cliente.has_info %}
          <p class="mt-3">Perfil y/o datos fiscales no completados, por favor vaya a perfil y actualice sus datos para poder crear solicitudes.</p>
        {% endif %}
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
          <div class="feature col">
            <div class="feature-icon bg-primary bg-gradient">
              <a href="{% url 'fletes:agregar-solicitud'  %}" class="icon-link" style="text-decoration: none; color: white;"><i class="fas fa-plus-square"></i></a>
            </div>
            <h2>Crear solicitud</h2>
            <p>Realiza una solicitud de flete para recibir cotizaciones por parte de los transportistas.</p>
          </div>
          <div class="feature col">
            <div class="feature-icon bg-primary bg-gradient">
              <a href="{% url 'fletes:solicitudes-cliente'%}" class="icon-link" style="text-decoration: none; color: white;"><i class="fas fa-eye"></i></a>
            </div>
            <h2>Mis solicitudes</h2>
            <p>Gestiona y revisa el estado de tus solicitudes realizadas.</p>
          </div>
          <div class="feature col">
            <div class="feature-icon bg-primary bg-gradient">
              <a href="{% url 'fletes:viajes'%}" class="icon-link" style="text-decoration: none; color: white;"><i class="fas fa-eye"></i></a>
            </div>
            <h2>Mis viajes</h2>
            <p>Gestiona y revisa el estado de tus viajes.</p>
          </div>
        </div>
      </div>
      {% else %}
      <div class="container px-4 py-5" id="featured-3">
        <h2 class="pb-2 border-bottom">Menú de transportistas</h2>
        {% if not user.has_datosfiscales or not user.transportista.has_info %}
          <p class="mt-4">Perfil y/o datos fiscales no completados, por favor vaya a perfil y actualice sus datos para poder crear cotizaciones.</p>
        {% endif %}
        {% if not user.transportista.has_unidades %}
        <p class="mt-4">No tienes unidades registradas no puedes realizar cotizaciones. Agregalas desde tu perfil!!</p>
        {% endif %}
        {% if not user.transportista.has_licencia_conducir %}
        <p class="mt-4">No has agregado información de tu licencia de conducir. Agregala desde tu perfil!!</p>
        {% endif %}
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
          <div class="feature col">
            <div class="feature-icon bg-primary bg-gradient">
              <a href="{% url 'fletes:solicitudes'%}" class="icon-link" style="text-decoration: none; color: white;"><i class="fas fa-eye"></i></a>
            </div>
            <h2>Solicitudes vigentes</h2>
            <p>Revisa las solicitudes de viaje vigentes.</p>
          </div>
          <div class="feature col">
            <div class="feature-icon bg-primary bg-gradient">
              <a href="{% url 'fletes:cotizaciones'%}" class="icon-link" style="text-decoration: none; color: white;"><i class="fas fa-eye"></i></a>
            </div>
            <h2>Mis cotizaciones</h2>
            <p>Gestiona tus cotizaciones realizadas.</p>
          </div>
          <div class="feature col">
            <div class="feature-icon bg-primary bg-gradient">
              <a href="{% url 'fletes:viajes'%}" class="icon-link" style="text-decoration: none; color: white;"><i class="fas fa-eye"></i></a>
            </div>
            <h2>Mis viajes</h2>
            <p>Gestiona y revisa el estado de tus viajes.</p>
          </div>
        </div>
      </div>
      <!-- Button trigger modal -->

      {% endif %}
    </main>
  </div>
  {% else %}
  {% endif %}
{% endblock %}