{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

    <script src="https://www.google.com/recaptcha/api.js"></script>
    <section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section" style="color: white">Bienvenido a <span style="color:red">Flete</span><span style="color:black">Seguro</span></h2>

				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
		      	<h3 class="mb-4 text-center">¿Tienes cuenta?</h3>
		      	<form method="POST" class="signin-form">
                    {% csrf_token %}
                    <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Iniciar Sesión</legend>
                    {{ form|crispy }}
                    </fieldset>
                    <div class="g-recaptcha mb-3 mt-3" data-sitekey="6LdwJvMcAAAAAF3HoWVqaX3vzAtwL6XhZM1xEgHF"></div>
                    <div class="form-group">
                    <button class="form-control btn btn-primary submit px-3" type="submit">Ingresar</button>
                    </div>
                </form>
	            <div class="form-group d-md-flex">
                    <div class="w-50 text-md-right">
                        <a href="{% url 'reset_password' %}" style="color: #fff">Olvidaste tu contraseña</a>
                    </div>
	            </div>
	          </form>
	          <p class="w-100 text-center">&mdash; Si aun no tienes cuenta registrate ahora como &mdash;</p>
	          <div class="social d-flex text-center">
	          	<a href="{% url 'registro-cliente' %}" class="px-2 py-2 mr-md-1 rounded"><span class="ion-logo-facebook mr-2"></span> Cliente</a>
	          	<a href="{% url 'registro-transportista' %}" class="px-2 py-2 ml-md-1 rounded"><span class="ion-logo-twitter mr-2"></span> Transportista</a>
	          </div>
		      </div>
				</div>
			</div>
		</div>
	</section>
    
   
{% endblock content %}
