{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% block extracss %}
<link rel="stylesheet" href="https://hzaratecode.com/styleHomeFS.css">
{% endblock extracss %}

    <script src="https://www.google.com/recaptcha/api.js"></script>
    <section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section" style="color: white">Bienvenido a </span></h2>
					<img src="https://hzaratecode.com/fsicon3.ico" alt="">
					
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
						<form method="POST" class="signin-form">
							{% csrf_token %}
							<fieldset class="form-group">
							<legend class="border-bottom mb-4">Iniciar Sesión</legend>
							{{ form|crispy }}
							</fieldset>
							<div class="g-recaptcha mb-3 mt-3" data-sitekey="6LdwJvMcAAAAAF3HoWVqaX3vzAtwL6XhZM1xEgHF"></div>
							<div class="form-group">
							<button class="form-control btn btn-primary submit px-3" type="submit">Ingresar</button>
							</div>
						</form>
						<div class="form-group d-md-flex">
							<div class="w-100 text-md-center">
								<p> Olvidaste tu contraseña, da click <a href="{% url 'reset_password' %}" style="color: rgb(21, 33, 196)">aquí</a></p>
							</div>
						</div>
						<p class="w-100 text-center">&mdash; No tienes cuenta, registrate ahora como &mdash;</p>
						<div class="social d-flex text-center">
							<a href="{% url 'registro-cliente' %}" class="px-2 py-2 mr-md-1 rounded"><span class="ion-logo-facebook mr-2"></span> Cliente</a>
							<a href="{% url 'registro-transportista' %}" class="px-2 py-2 ml-md-1 rounded"><span class="ion-logo-twitter mr-2"></span> Transportista</a>
						</div>
		      		</div>
				</div>
			</div>
		</div>
	</section>
    
   
{% endblock content %}
