{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    {% include 'usuarios/confirm_delete_modal.html' %}
    <section style="background-color: #eee;">
        <div class="container py-5 mt-4">
            <div class="row">
                <div class="col">
                    <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item active" aria-current="page">Perfil del transportista</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <img src="{{ transportista.image.url }} " alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                            <h5 class="my-3">{{ transportista.user.username }} </h5>
                            {% if transportista.is_empresa %}
                            <p class="text-muted mb-4">Persona Moral</p>
                            {% else %}
                            <p class="text-muted mb-4">Persona Física</p>
                            {% endif %}
                            <!--<div class="d-flex justify-content-center mb-2">
                                <button type="button" class="btn btn-primary">Editar</button>
                            </div>-->
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">Información del transportista</h5><br>
                            <div class="row mt-2">
                                <div class="col-sm-3">
                                    <p class="mb-0">Miembro desde:</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ transportista.user.date_joined|date:"d-m-Y" }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Calificación</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">
                                        {% if transportista.calificacion == 5 %}<i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>{% endif %}
                                        {% if transportista.calificacion == 4 %}<i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>{% endif %}
                                        {% if transportista.calificacion == 3 %}<i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>{% endif %}
                                        {% if transportista.calificacion == 2 %}<i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>{% endif %}
                                        {% if transportista.calificacion == 1 %}<i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>{% endif %}
                                        {% if transportista.calificacion == 0 %}<i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>{% endif %}
                                    </p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Viajes realizados</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ transportista.viajes_realizados }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Reseñas</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
