{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    {% include 'usuarios/confirm_delete_modal.html' %}
    <section style="background-color: #eee;">
        <div class="container py-5 mt-4">
            <div class="row">
                <div class="col">
                    <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item active" aria-current="page">Agregar Unidad</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-7 col-md-12 justify-content-center">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <form method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <fieldset class="form-group">
                                        <legend class="border-bottom mb-4">Datos de la unidad</legend>
                                        {{ form|crispy}}
                                        <div class="form-group mt-4">
                                            <button class="btn btn-outline-info" type="submit" >Aceptar</button>
                                        </div> 
                                    </fieldset>
                                </form>
                                <a href="{% url 'profile-cliente' pk=user.id %}"><button class="btn btn-outline-danger mt-3">Cancelar</button></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12 justify-content-center">
                    <div class="card mb-4 mb-md-0">
                        <div class="card-body">
                            <p class="mb-4"><span class="text-primary font-italic me-1">Mis</span> encierros</p>  
                            {% if encierros %}
                            <table class="table table-sm">
                                <thead>
                                  <tr>
                                    <th scope="col">Nombre</th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                  </tr>
                                </thead>
                                <tbody>
                                    {% for encierro in encierros %}
                                    <tr>
                                        <td>{{ encierro.nombre }}</td>
                                        <td><a href="{% url 'update-encierro' pk=encierro.id %}"><i class="far fa-edit"></i></a></td>
                                        <td><a href="{% url 'delete-encierro' encierro.id %}" class="confirm-delete" title="Delete" data-toggle="modal" data-target="#confirmDeleteModal" id="deleteButton{{encierro.id}}"><i class="fas fa-trash-alt"></i></a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% else %}  
                            <p>No tiene encierros registrados</p>
                            {% endif %}
                            <a href="{% url 'agregar-encierro' user_pk=user.id %}"><button type="button" class="btn btn-primary mt-4"> Agregar </button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}